/* les couleurs globales */
:root {
  --primary-color: #42b983; /* Couleur principale */
  --secondary-color: #35495e; /* Couleur secondaire */
  --background-color: #f4f4f4; /* Couleur de fond */
  --text-color: #333; /* Couleur du texte principal */
  --border-color: #e0e0e0; /* Couleur des bordures */
}

/* Style global pour le corps de la page */
body {
  font-family: 'Arial', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

/* Header */
header {
  background-color: var(--primary-color);
  color: white;
  padding: 20px;
  text-align: center;
}

/* Navigation */
nav {
  background-color: var(--secondary-color);
  padding: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

nav ul li a:hover {
  color: var(--primary-color);
}

/* Sections principales */
main {
  padding: 20px;
  margin-top: 20px;
}

/* Cartes ou boîtes */
.card {
  background-color: white;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

/* Boutons */
button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #368c70;
}

button:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

/* Formulaires */
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  margin-bottom: 15px;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: var(--primary-color);
  outline: none;
}

.product-table {
  margin: 30px 0;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-table h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
  color: #333;
  font-weight: bold;
}

td {
  color: #555;
}

td.no-data {
  color: #888;
  font-style: italic;
  text-align: center;
  padding: 20px;
  font-size: 16px;
}

tr:nth-child(even) {
  background-color: #fafafa;
}

tr:hover {
  background-color: #f1f1f1;
}

@media (max-width: 768px) {
  table {
    font-size: 14px;
  }

  th, td {
    padding: 10px;
  }
}


/* Footer */
footer {
  background-color: var(--secondary-color);
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
